<!DOCTYPE html>
<html>

<body>
    <img src="{{ louvreLogo }}" alt="logo du Louvre">
    <h2>Billetterie du Louvre</h2>

    <h3> Commande n° {{ booking.transactionId }} du {{ booking.bookingDate|date('d/m/Y') }}</h3>

    <div>
        <p><strong>Prix total de la réservation</strong> : {{ booking.totalPrice }}€</p>
        <p><strong>Type de ticket</strong> : {{ booking.typeOfTicket }}€</p>
    </div>

    <div>
       <div>
           {% for ticket in tickets %}
               <table>
                   <tr>
                       <th>Nom</th>
                       <th>Prénom</th>
                       <th>Prix unitaire en €</th>
                   </tr>

                   <tr>
                       <td>{{ ticket.firstName }}</td>
                       <td>{{ ticket.lastName }}</td>
                       <td>{{ ticket.price }}</td>
                   </tr>
               </table>
           {%  endfor %}
       </div>

    </div>
    {% block stylesheets %}{% endblock %}
</body>
</html>


