<!DOCTYPE html>
<html>

<body>
    <img src="{{ louvreLogo }}" alt="logo du Louvre">
    <h2>{{ 'head.main_title'|trans }}</h2>

    <h3> {{ 'summary'|trans({ '%transactionId%': booking.transactionId }) }} {{ booking.bookingDate|date('d/m/Y') }}</h3>

    <div>
        <p><strong>{{ 'mail.booking.total_price'|trans }}</strong> : {{ booking.totalPrice }} €</p>
        <p><strong>{{ 'booking.type_of_ticket'|trans }}</strong> : {{ booking.typeOfTicket }}</p>
    </div>

    <div>
       <div>
           {% for ticket in tickets %}
               <table>
                   <tr>
                       <th>{{ 'ticket.lastname'|trans }}</th>
                       <th>{{ 'ticket.firstname'|trans }}</th>
                       <th>{{ 'ticket.unit_price'|trans }}</th>
                   </tr>

                   <tr>
                       <td>{{ ticket.firstName }}</td>
                       <td>{{ ticket.lastName }}</td>
                       <td>{{ ticket.price }}</td>
                   </tr>
               </table>
           {%  endfor %}
       </div>

    </div>
    {% block stylesheets %}{% endblock %}
</body>
</html>


