{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - {{ 'step_title'|trans }} 3
{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="">
                <h2>{{ 'step_title'|trans }} 3</h2>
            </div>
            <div>
                <h3>{{ 'booking.summary'|trans }}</h3>
            </div>
            <div>
                <table>
                    <tr>
                        <th>{{ 'ticket.lastname'|trans }}</th>
                        <th>{{ 'ticket.firstname'|trans }}</th>
                        <th>{{ 'ticket.unit_price'|trans }}</th>

                    </tr>

                    {% for ticket in booking.tickets %}
                    <tr>
                        <td>{{ ticket.firstName }}</td>
                        <td>{{ ticket.lastName }}</td>
                        <td>{{ ticket.price }}</td>
                    </tr>
                    {%  endfor %}
                    <tr>
                        <td class="row">{{ 'booking.total_price'|trans }}</td>
                        <td>{{ booking.totalPrice }}</td>
                    </tr>
                </table>

                <form action="{{ path('summary') }}" method="post">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_public_key }}"
                            data-description="{{ 'payment.stripe_title'|trans }}"
                            data-amount="{{ booking.totalPrice * 100}}"
                            data-locale="{{ app.request.locale }}"
                            data-currency='eur'
                            data-label="{{ 'payment.stripe_label'|trans }}"
                            data-email='{{ booking.email }}'>
                    </script>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock %}
