{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - Etape 3
{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="">
                <h2>Etape 3</h2>
            </div>
            <div>
                <h3>Récapitulatif de la commande</h3>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Prix unitaire en €</th>

                    </tr>

                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.firstName }}</td>
                        <td>{{ ticket.lastName }}</td>
                        <td>{{ ticket.price }}</td>
                    </tr>
                    {%  endfor %}
                    <tr>
                        <td class="row">Total Commande</td>
                        <td>{{ booking.totalPrice }}</td>
                    </tr>
                </table>

                <form action="{{ path('summary') }}" method="post">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_public_key }}"
                            data-description="Billetterie du Louvre"
                            data-amount="{{ booking.totalPrice * 100}}"
                            data-locale="auto"
                            data-currency='eur'
                            data-email='{{ booking.email }}'>
                    </script>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock %}
