{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - {{ 'step_title'|trans }} 2
{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="">
                <h2>{{ 'step_title'|trans }} 2</h2>
            </div>
            <div>
                <h3>Tickets</h3>
            </div>
            <div>
                <hr/>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" name="ticketValidation">{{ 'submit.button'|trans }}</button>
                {{ form_end(form) }}
                <hr/>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock %}
