<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ 'head.main_title'|trans }}{% endblock %}</title>

            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container" id="nav-style">
            <div class="row">
                <nav class=" navbar navbar-expand-md  navbar-fixed-top" id="navBar-style" role="navigation">
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toogle navigation">
                            <span class="navbar-toogler-icon"></span>
                        </button>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('homepage') }}">{{ 'home'|trans }}</a>
                            </li>

                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle"  href="#" id="dropDownMenuLink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'header.label.language'|trans }}</a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% set params = app.request.attributes.get('_route_params')|merge({'_locale': 'en'}) %}
                                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), params) }}">{{ 'english'|trans }}</a>

                                    {% set params = app.request.attributes.get('_route_params')|merge({'_locale': 'fr'}) %}
                                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), params) }}">{{ 'french'|trans }}</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://www.louvre.fr/">{{ 'header.label.museum'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>



            <header>
                <div class="row">
                    <img id="logo" src="{{ asset('images/logo-louvre.jpg') }}" alt="logo du Louvre">
                    <h1 class="text-center" id="mainTitle">{% block headerTitle %} {{ 'body.main.title'|trans }} {% endblock %}</h1>

                </div>
                {% block headerImg %}
                    <div class="row">
                        <div class="col-sm-12 align-middle">
                            <img src="{{ asset('images/architecture-1868312_1280.jpg') }}" class="img-fluid" alt="photo louvre de nuit">
                        </div>
                    </div>
                {% endblock %}

            </header>
        </div>

        <div class="container">
        <div class="row">
            <div class="col-8">
        {% block body %}
        {% endblock %}
            </div>

            <div class="col-4">
                <div>
                {% block news %}
                <h3>{{ 'practical_news.opening_hours'|trans }}</h3>
                <ul>
                    <li>{{ 'practical_news.monday'|trans }} : 9h00 - 18h00 </li>
                    <li>{{ 'practical_news.tuesday'|trans }} : {{ 'practical_news.closed.day'|trans }} </li>
                    <li>{{ 'practical_news.wednesday'|trans }} : 9h00 - 21h45 </li>
                    <li>{{ 'practical_news.thursday'|trans }} : 9h00 - 18h00 </li>
                    <li>{{ 'practical_news.friday'|trans }} : 9h00 - 21h45 </li>
                    <li>{{ 'practical_news.saturday'|trans }} : 9h00 - 18h00 </li>
                    <li>{{ 'practical_news.sunday'|trans }} : 9h00 - 18h00 </li>
                    <li>{{ 'practical_news.holidays'|trans }} : 9h00- 18h00</li>
                </ul>

                <h4>{{ 'practical_news.closed.days'|trans }}</h4>
                <ul>
                    <li>{{ 'practical_news.new_year'|trans }}</li>
                    <li>{{ 'practical_news.may_first'|trans }}</li>
                    <li>{{ 'practical_news.november_first'|trans }}</li>
                    <li>{{ 'practical_news.christmas'|trans }}</li>
                </ul>
                </div>

                <div>
                <h3>{{ 'cgv.rates'|trans }}</h3>
                <ul>
                    <li>{{ 'practical_news.rates.adult'|trans }} : 16€ </li>
                    <li>{{ 'practical_news.rates.child'|trans }} : 8€ </li>
                    <li>{{ 'practical_news.rates.under_four'|trans }} : 0€ </li>
                    <li>{{ 'practical_news.rates.senior'|trans }} : 12€ </li>
                    <li>{{ 'ticket.reduce_rate'|trans }}* : 10€ </li>
                </ul>
                <p>*{{ 'practical_news.reduce_rate'|trans }}</p>
                </div>
            </div>
        {% endblock %}
        </div>
        </div>

        <footer class="container">
            <div class="row" id="footer_first_part">
                <div class="col-md-12 col-sm-6 center align-self-center">
                    <img src="{{ asset('images/mastercard-logo.png') }}" alt="mastercard logo">
                    <img src="{{ asset('images/Visa_logo.png') }}" alt="visa logo">
                    <img src="{{ asset('images/logo-american-express-1-1024x1024.png') }}" alt="american express logo">
                </div>
            </div>

            <div class="row" id="footer_second_part">
                <div class="col-4 center align-self-center">
                    <p><a href="{{ path('news') }}">{{ 'practical_informations'|trans }}</a></p>
                </div>

                <div class="col-4 center align-self-center social-icons">
                    <a href="https://www.facebook.com/museedulouvre"><img src="{{ asset('images/facebook-2429746_640.png') }}" alt="facebook"></a>
                    <img src="{{ asset('images/instagram-1675670_640.png') }}" alt="instagram">
                    <a href="https://twitter.com/museelouvre"><img src="{{ asset('images/twitter-2430933_640.png') }}" alt="twitter"></a>
                </div>


                <div class="col-4 center align-self-center">
                    <div><a href="{{ path('legal_mentions') }}">{{ 'legal_mentions.title'|trans }}</a></div>
                    <div><a href="{{ path('sale') }}">{{ 'general_terms_of_sale'|trans }}</a></div>
                </div>
            </div>
            <hr/>

            <div class="row" id="footer_final">
                <div class="col-lg-12 center align-self-center" >
                    <p>&copy;Le Louvre - 2018 - Création Couleur Web</p>
                </div>
            </div>

        </footer>

        {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}

    </body>
</html>
